/* --- Styles généraux --- */
    body {
      margin: 0;
      font-family: 'Roboto', sans-serif;
      background-color: #0d0d0d;
      color: #f2f2f2;
      line-height: 1.6;
    }

    /* --- Bannière --- */
    header {
      background-image: url(../img/uub.png);
      background-size: cover;
      background-position: 79% 19%;
      height: 40vh;
      display: flex;
      align-items: center;
      position: relative;
    }

    /* Superposition sombre pour lisibilité du texte */
    header::before {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(0, 0, 0, 0.2);
    }


    /* --- Section principale --- */
    main {
      padding: 50px 10%;
      text-align: center;
    }

    main h2 {
      font-family: 'Orbitron', sans-serif;
      font-size: 2rem;
      margin-bottom: 20px;
    }

    .image-perso{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    main img{
        max-width: 300px;
        border-radius: 10px;

    }

.skills{

  display: inline-block;
}

.skills .chiffre {
  position: relative;
  bottom: 8px;
  right: 15px;
  background: red;
  color: white;
  font-weight: bold;
  width: 24px;
  height: 24px;
  border-radius: 20%;
  text-align: center;
  line-height: 24px;
  font-size: 28px;
}